.title {
  font: var(--title);
  color: #f5f4f5;
}

.pg-sm {
  font: var(--pg-sm);
  color: var(--content-secondary);
}

.pg-md {
  font: var(--pg-md);
  color: var(--content-secondary);
}

.label-sm {
  font: var(--label-sm);
}

.label-md {
  font: var(--label-md);
}

.label-lg {
  font: var(--label-lg);
}

.content-primary {
  color: var(--content-primary);
}

.content-tertiary {
  color: var(--content-tertiary);
}

.blur {
  filter: blur(5px);
}

.hidden {
  display: none;
}

.main-size {
  height: 65rem;
}

@media (width >= 80em) {
  .main-size {
    height: 52rem;
  }

  .mobile-only {
    display: none;
  }
}